@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: normal 15px 'Press Start 2P', cursive;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.app {
  text-align: center;
}

.app canvas {
  /* box-shadow: inset 0 0 18px red; */
}

.app .score {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 45px;
  padding: 25px;
  background: rgba(0,0,0,0.5);
}
